.dev-logo {
  font-size: 30px;
  background-image: url(/images/logo-positive.svg);
  background-size: 55px 45px;
  background-repeat: no-repeat;
}

.dev-logo-text {
  color: #606060;
  margin-left: 60px;
}

.hero-vid {
  margin: -8vw 0;
}

.hero {
  margin-top: 20px;
}
